body {
  height: 100vh;
  display: grid;

  grid-template-rows: 100px 1fr;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}
